%table.table
  %thead
    %tr
      %th id
      %th avatarable_type
      %th avatarable_id
      %th image
      %th
  %tbody
    - @avatars.each do |avatar|
      %tr
        %td= avatar.id
        %td= avatar.avatarable_type
        %td= avatar.avatarable_id
        %td= image_tag avatar.url, size: 48
        %td= link_to 'Destroy', console_avatar_path(avatar), method: :delete, data: { confirm: 'Are you sure?' }
