%p#notice= notice
%h1 Events
%table.table.table-sm
  %thead.table-secondary
    %tr
      %th#checked-all √
      %th permission.id
      %th.filter#filter-b controller
      %th.filter#filter-c action
      %th event.description
      %th event.currency
      %th event.amount
      %th operation
  %tbody.filter-list.events
    - @Permission_all.each do |permission|
      %tr
        - event = event_find_by(permission_id: permission.id)#permission.event
        - event ||= Event.new
        = form_for [:console, event] do |form|
          / - puts event[:permission_id]
          %td= form.check_box :permission_id, {}, permission.id, ""
          %td= permission.id
          %td.filter-b= permission.controller
          %td.filter-c= "#{permission.action} [#{permission.verb}]"
          %td= form.text_field :description
          %td= form.text_field :currency
          %td= form.text_field :amount
          %td
            = form.button '保存'
            = link_to('删除', console_event_path(event), method: :delete) if event.id#event.valid?

