<%= form_for([:console, credit], local: true) do |form| %>
  <% if credit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit.errors.count, "error") %> prohibited this credit from being saved:</h2>

      <ul>
      <% credit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :User %>
    <% if credit.user_id %>
      <%= credit.user.email %>
    <% else %>
      <%= form.number_field :user_id %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :POINT %>
    <%= number_field_tag 'credit[POINT]', nil, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :CNY %>
    <%= number_field_tag 'credit[CNY]', nil, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :BTC %>
    <%= number_field_tag 'credit[BTC]', nil, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :USD %>
    <%= number_field_tag 'credit[USD]', nil, min: 0 %>
  </div>

  <div class="actions">
    <%= form.submit data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
