<p>
  <%= link_to 'Back', console_credits_path %>
  
  <strong>User:</strong>
  <%= @credit.user.email %>

  <%= link_to 'charge', charge_console_credit_path(@credit) %>
</p>

<table>
  <thead>
    <tr>
      <th><%= money_name('POINT') %></th>
      <th><%= money_name('CNY') %></th>
      <th><%= money_name('BTC') %></th>
      <th><%= money_name('USD') %></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= money(@credit.POINT, 'POINT') %></td>
        <td><%= money(@credit.CNY, 'CNY') %></td>
        <td><%= money(@credit.BTC, 'BTC') %></td>
        <td><%= money(@credit.USD, 'USD') %></td>
      </tr>
  </tbody>
</table>
