<%= form_with(model: topic, local: true) do |form| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :node_id %>
    <%= form.select :node_id, @node_all.collect{|node| [node.name, node.id]}, {include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :posttext %>
    <%= form.fields_for :posttext_attributes, topic.posttext do |f| %>
      <%= f.text_area :body %>
    <% end %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
