<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Node</th>
      <th>User</th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <% cache topic do %>
      <% node = node_find(topic.node_id) %>
      <tr>
        <td><%= link_to(topic.title, topic) %></td>
        <td><%= link_to(node.name, node) if node %></td>
        <td><%= topic.user.email %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_topic_path %>
