<p id="notice"><%= notice %></p>
<% cache [@topic, @topic.updated_at] do %>
<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
<p>
  <strong>Node:</strong>
  <%= link_to(@node.name, @node) if @node %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.posttext.body if @topic.posttext %>
</p>
<% end %>

<table>
  <thead>
    <tr>
      <th>Posttext</th>
    </tr>
  </thead>

  <tbody>
    <% cache @comments do %>
    <% @comments.each do |comment| %>
      <% cache comment do %>
      <tr>
        <td><%= comment.posttext.body if comment.posttext %></td>
      </tr><% end %>
    <% end %>
    <% end %>
  </tbody>
</table>
<% cache [@topic, @comment] do %>
<%= render('comments/form', comment: @comment) if login? %>
<% end %>
<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
