<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>
<p>
  <strong>Node:</strong>
  <%= link_to(@node.name, @node) if @node %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.posttext.body if @topic.posttext %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user %>
</p>
<table>
  <thead>
    <tr>
      <th>Posttext</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.posttext.body if comment.posttext %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render('comments/form', comment: @comment) if login? %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
