<h1>Credits</h1>

<table>
  <thead>
    <tr>
      <th>Currency</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @credits.each do |credit| %>
      <tr>
        <td><%= money_name(credit.currency) %></td>
        <td><%= money(credit.balance, credit.currency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<table class='table table-sm'>
  <thead>
    <tr>
      <th>created_at</th>
      <th>ip</th>
      <th>event_id</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @creditlogs.each do |creditlog| %>
      <tr>
        <td><%= creditlog.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= creditlog.eventlog.ip %></td>
        <td><%= "#{event_find(creditlog.eventlog.event_id).description}:#{creditlog.eventlog.description}" %></td>
        <td><%= money_name(creditlog.currency) %></td>
        <td><%= money(creditlog.amount, creditlog.currency) %></td>
        <td><%= money(creditlog.balance, creditlog.currency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
