<h1>Credits</h1>

<table>
  <thead>
    <tr>
      <th>Currency</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% 
      currencies = CURRENCIES.keys
      @credit.attributes.each do |k,v| 
      if currencies.include?(currency = k.upcase) and v > 0
        %>
      <tr>
        <td><%= money_name(currency) %></td>
        <td><%= money(v, currency) %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<table class='table table-sm'>
  <thead>
    <tr>
      <th>created_at</th>
      <th>ip</th>
      <th>event_id</th>
      <th>Currency</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
  </thead>

  <tbody>
    <% @creditlogs.each do |creditlog| %>
      <tr>
        <%
          is_sender = current_user.id == creditlog.user_id
          description = "#{event_find(creditlog.eventlog.event_id).description}:#{creditlog.eventlog.description}"
          description = "user:#{creditlog.user_id}_#{description}" unless is_sender
          amount = is_sender ? creditlog.amount : -creditlog.amount
          balance = is_sender ? creditlog.balance : creditlog.receiver_balance
        %>
        <td><%= creditlog.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= creditlog.eventlog.ip %></td>
        <td><%= description %></td>
        <td><%= money_name(creditlog.currency) %></td>
        <td><%= money(amount, creditlog.currency) %></td>
        <td><%= money(balance, creditlog.currency) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
