<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.posttext.body if @topic.posttext %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user %>
</p>
<table>
  <thead>
    <tr>
      <th>Posttext</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.posttext.body if comment.posttext %></td>
        <td><%= link_to 'Destroy', console_topic_comment_path(@topic, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render 'console/comments/form', comment: @topic.comments.build %>

<%= link_to 'Edit', edit_console_topic_path(@topic) %> |
<%= link_to 'Back', console_topics_path %>
