<%= form_for([:console, menu]) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :menu_id %>
    <%= form.select :menu_id, @menus.collect{|menu| [menu.name, menu.id]}, {include_blank: true} %>
  </div>

  <div class="field">
    <%= form.label :priority %>
    <%= form.text_field :priority %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :permission_id %>
    <%= form.radio_button :permission_id, "" %>none
    <%= form.collection_radio_buttons :permission_id, @permissions, :id, :path, {include_hidden: false} do |b|
       b.label {b.radio_button + b.text}
    end %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
