%table.table
  %thead
    %tr
      %th Role
      %th Name
      %th Description
      %th User
      %th
  %tbody
    - @role_all.each do |role|
      - role_root = role_find_by(id: role.role_id)
      %tr
        %td= role_root.name if role_root
        %td= role.name
        %td= role.description
        %td= role.user.email
        %td
          = link_to 'Show', console_role_path(role)
          = link_to 'Edit', edit_console_role_path(role)
          = link_to 'Destroy', console_role_path(role), method: :delete, data: { confirm: 'Are you sure?' }
