<p id="notice"><%= notice %></p>

<p>
  <strong>Node:</strong>
  <%= @node.node_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @node.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @node.slug %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @node.tagline %>
</p>

<p>
  <strong>Avatar:</strong>
  <%= image_tag(@node.avatar, size: 48) if @node.avatar %>
</p>

<p>
  <strong>User:</strong>
  <%= @node.user %>
</p>

<p>
  <strong>Posttext:</strong>
  <%= @node.body %>
</p>

<%= link_to 'Edit', edit_console_node_path(@node) %> |
<%= link_to 'Back', console_nodes_path %>
