<!DOCTYPE html>
<html>
  <head>
    <title>LinanApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if login? %>
    <%= link_to "首页", root_path %>
    <%= link_to "设置", settings_path %>
    <%= link_to "通知", notifications_path %>
    <%= link_to "积分", credits_path %>
    <%= link_to "管理", console_root_path %>
    <%= link_to "登出", destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to "登录", new_user_session_path, class: "nav-link" %>
    <% end %>
    <%= yield %>
  </body>
</html>
